@font-face {
    font-family: 'Harmony';
    font-weight: normal;
    font-style: normal;
    src: url('https://cos.amiyabot.com/resource/HarmonyOS_Sans_SC.ttf')
}

:root,
html.dark {
    scroll-behavior: smooth;

    --c-brand: #ba68c8;
    --c-brand-light: #ce93d8;
    --font-family: -apple-system, BlinkMacSystemFont, 'Harmony', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

table {
    font-size: 14px;
}

.err-tag {
    color: #fff;
    background: #f44336;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 12px;
}
