@font-face {
    font-family: 'Harmony';
    font-weight: normal;
    font-style: normal;
    src: url('https://cos.amiyabot.com/resource/Harmony_amiyabot.com.min.woff2')
}

:root {
    scroll-behavior: smooth;
    --vp-font-family-base: 'Inter var experimental', 'Inter var', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Harmony', sans-serif;
    --vp-c-brand: #ba68c8;
    --vp-c-brand-dark: #b74ec9;
    --vp-c-brand-darker: #b74ec9;
    --vp-c-brand-light: #ce93d8;
    --vp-c-brand-lighter: #ce93d8;
    --vp-c-text-light-1: #213547;
}

.vp-doc table {
    font-size: 14px;
}

.vp-doc th, .vp-doc td {
    padding: 5px 10px;
}

.vp-doc blockquote {
    padding: 10px 16px;
    border-left: 3px solid #b74ec9;
    background: rgb(240 248 255 / 10%);
}

.vp-doc blockquote > p {
    color: #b74ec9;
}

code:not(div[class*='language-'] code) {
    font-family: var(--vp-font-family-base);
}

img {
    border-radius: 4px;
}

.beta-tag {
    color: #fff;
    background: #f44336;
    padding: 0 5px;
    font-size: 18px;
    border-radius: 4px;
}

i.red {
    font-style: normal;
    color: red;
}

.custom-block a {
    text-decoration: underline !important;
}

.VPLink.link.link > .text {
    line-height: 20px;
}

.main-container {
    width: 1152px;
    margin: auto;
    padding: 30px 20px 0;
}

@media screen and (max-width: 768px) {
    .main-container {
        width: calc(100% - 20px);
    }
}

/*.VPContent.is-home {*/
/*    -webkit-filter: grayscale(100%);*/
/*    -moz-filter: grayscale(100%);*/
/*    -ms-filter: grayscale(100%);*/
/*    -o-filter: grayscale(100%);*/
/*    filter: grayscale(100%);*/
/*    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
/*}*/
