# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Delpoy

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:

        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [ 16.x ]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            -   name: Fetch sources
                uses: actions/checkout@v2

            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@v2
                with:
                    node-version: ${{ matrix.node-version }}

            -   name: Build
                run: |
                    npm install
                    npm run docs:build

            -   name: Update CNAME
                run:
                    echo 'www.amiyabot.com' > docs/.vuepress/dist/CNAME

            -   name: Deploy
                uses: crazy-max/ghaction-github-pages@v2.5.0
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    target_branch: gh-pages
                    build_dir: docs/.vuepress/dist
